################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ProducerConsumer/.vs/ProducerConsumer/v16/Server/sqlite3
