################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ProducerConsumer/.vs/ProducerConsumer/v16/Server/sqlite3
/.vs
/source/ProducerConsumer/packages/MahApps.Metro.1.4.1
/source/ProducerConsumer/ProducerConsumer.Wpf/bin/Debug
/source/ProducerConsumer/.vs/ProducerConsumer/v16
